/* Default Layout */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures padding and border don't mess with sizing */
}

main {
    flex: 1;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("../images/12226216184_b8d6e0073a_b.jpg") no-repeat center center/cover;
    color: #fff;
    height: 100vh;
    text-align: center;
}

.Headline-1 {
    font-size: 4.5vh;
    font-weight: bold;
    padding-bottom: 2vh;
 }

header h1 {
    font-size: 500%;
    -webkit-text-stroke: 0.4vh rgb(0, 0, 0);
}

header p {
    font-size: 200%;
    -webkit-text-stroke: 0.15vh rgb(0, 0, 0);
    font-weight: bold;
}

#sideheader {
    height: 25vh;
}

nav {
    top: 0;
    overflow: hidden;
    position: sticky;
    background-color: #333;
}

nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 0.7% 1%;
    text-decoration: none;
    font-size: 2vh;
}

nav a:hover {
    background-color: #43668f;
}

.nav-active {
    background-color: #1993da;
}

.contact-link {
    float: right;
}

#nav-toggle {
    display: none;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f4f4f9;
}

.content {
    padding: 5% 20%;
    text-align: center;
    flex: 1;
}

ul {
    text-align: left;
    padding-inline: 30%;
}

ul p {
    font-size: 20px;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}

.style-button {
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    background-color: #43668f;
  }

.table-wrapper {
    overflow-x: auto;
}

/* Mobile Styles */
@media (max-width: 720px) {
    body {
        font-family: Arial, sans-serif;
        line-height: 1.2;
    }

    header p {
        font-size: 150%;
    }

    nav {
        position: relative;
    }

    nav a {
        display: none;
        padding: 4% 7%;
    }

    #nav-toggle {
        display: block;
        background: #333;
        color: white;
        border: none;
        font-size: 24px;
        padding: 10px 15px;
        cursor: pointer;
    }

    #nav-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        left: -100%;
        width: 60%;
        height: 100%;
        background: #333;
        padding-top: 50%;
        color: white;
        z-index: 1000;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
        transition: left 0.3s ease-in-out;
    }

    #nav-menu a {
        display: block;
        color: white;
        text-decoration: none;
        font-size: 150%;
        width: 100%;
        text-align: left;
    }

    #nav-menu .contact-link {
        margin-top: auto;
        align-self: stretch;
    }

    #nav-menu.active {
        left: 0;
    }

    body.blurred .content,
    body.blurred footer,
    body.blurred header {
        filter: blur(5px);
    }

    body.blurred {
        overflow: hidden;
    }

    .content {
        font-size: 1.5vh;
    }

    ul {
        font-size: 1.5vh;
    }

    ul p {
        font-size: 1.5vh;
    }

    footer {
        font-size: 1.5vh;
    }

    table {
        font-size: 1.2vh;  /* Adjust font size for mobile */
    }

    .style-button {
        font-size: 1.5vh;
        padding: 5px 16px;
    }
}
